.myResavedCarousel{
    margin-left: 30%;
    width: 700px;
    height: 450px;
}

.myResavedCaption{
    position: relative;
    top: 20px;
    left: auto;
    right: auto;
    color: rgb(238, 80, 112);
    text-align: center;
}

.myDescription{
    color: rgb(38, 129, 120);
}

.carouselImage{
    width: 250px;
    height: 200px;
    position: relative;
    left: 220px;
}

.myNextIcon{
    background-image: url(C:\Users\user.GRIGOR\Desktop\Diplomayin\document_flow\src\Assets\nextBtn.png);
    width: 50px;
    height: 50px;
}

.myPrevIcon{
    background-image: url(C:\Users\user.GRIGOR\Desktop\Diplomayin\document_flow\src\Assets\prevBtn.png);
    width: 50px;
    height: 50px;
}

.myHref{
    text-decoration: none;
    font-size:large;
    color: lightcoral;
}

.acceptCancelBtns{
    
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.btnsGroupe{
    text-align: center;
    margin-left: 1rem;
}

.noResavedDocsMessage{
    color: lightcoral;
    text-align: center;
    padding: 0 10rem;
}

.noResavedDocsImg{
    width: 300px ;
    height: 250px;
    margin: auto;
}

.noResavedDocsBlock{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}